.header {
  display: flex;
  width: 80vw;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  padding: 10px 10vw;
  grid-area: header;
}

.header a {
  color: white;
  text-decoration: none;
}

.icon {
  width: 20px;
  cursor: pointer;
}
